# App Configuration
PORT=""
ROOT_PATH=""
UUID_NAMESPACE=""
JWT_SECRET=""

# Database Configuration
DB_URI=""

# Firebase Configuration
FB_API_KEY=""
FB_AUTH_DOMAIN=""
FB_DB_URL=""
FB_PROJECT_ID=""
FB_STORAGE_BUCKET=""
FB_MSG_SENDER_ID=""
FB_APP_ID=""
FB_MSRMT_ID=""

# Mail Configuration
SG_KEY=""